* {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}
body {
    background-color: rgb(49, 24, 119);
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.yellow {
    background-color: rgb(214, 156, 31);
}

#containers {
    background-color: rgb(211, 174, 95);
}

